@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

.mainRoot {
    width: 60%;
}

.home {
    display: flex;
    height: 100%;
    flex-direction: row;
}

.homeFeed {
    width: 100%;
    display: flex;
    flex-direction: column;
}

